.center[b-jcbzc2sn4r] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-container[b-jcbzc2sn4r] {
    margin-top: 10%
}

button[b-jcbzc2sn4r] {
    margin-top: 5%;
    width: 35%;
}

img[b-jcbzc2sn4r] {
    display: block;
}
