@page "/about"

<section>
    <div class="title">
    </div>
    <div class="row">
        <!-- Column 1-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="Images/imagine.png" />
                </div>
                <p class="text">
                    Plant Knight is a revolutionary mobile application developed within the scope of Microsoft Turkey IMAGINE (I’M An enGINEer) Program. Designed with a commitment to contributing to the United Nations' second (Zero Hunger), twelfth (Responsible Consumption and Production), and fifteenth (Life on Land) sustainability goals, this app is a game-changer in the field of agriculture and plant health.
                </p>
            </div>
        </div>
    </div>
</section>


@code {

}
