@page "/contact"

<!-- Font Awesome -->
<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
        rel="stylesheet" />


<section>
    <div class="title">
        <h2>DEVELOPERS</h2>
    </div>
    <div class="row">
        <!-- Column 1-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="Images/OurTeam/Beyza.png" />
                </div>
                <h3>Beyza Özgür</h3>
                <br />
                <div class="icons">
                    <a href="https://www.linkedin.com/in/beyzaozgur/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/beyzaozgur">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="mailto:beyzaozgur35@gmail.com">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column 2-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="Images/OurTeam/Emircan.jpg" />
                </div>
                <h3>Emircan Tepe</h3>
                <br />
                <div class="icons">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column 3-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="Images/OurTeam/Nadirhan.jpg" />
                </div>
                <h3>Nadirhan Şahin</h3>
                <br />
                <div class="icons">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column 4-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="Images/OurTeam/Efe.jpg" />
                </div>
                <h3>Muhammed Efe İncir</h3>
                <br />
                <div class="icons">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column 5-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="Images/OurTeam/Eren.jpg" />
                </div>
                <h3>Eren Demirel</h3>
                <br />
                <div class="icons">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}
